<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahnaf's Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <ul>
                <li><a href="https://www.instagram.com/ahnaf.4o4/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/mirmdabidulhaq.ahnaf" target="_blank">Facebook</a></li>
                <li><a href="https://www.linkedin.com/in/mir-muhammad-abidul-haq-ahnaf-9871a9273/"
                        target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/Ahnaf-nub" target="_blank">Github</a></li>
            </ul>
        </nav>
    </aside>
    <header class="header">
        <h1 class="header-title">Hello!</h1>
        <nav class="nav">
            <a href="#about">About</a>
            <a href="#achievements">Achievements</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section id="about" class="about-section">
        <h2>About Me</h2>
        <p>Hey! I'm Mir Muhammad Abidul Haq Ahnaf!, a passionate robotics and machine learning enthusiast from
            Bangladesh. Prefer to learn through hands on projects and real life based problem solving approach!</p>
    </section>

    <section id="projects" class="projects-section">
        <h2>My Top Projects!</h2>
        <div class="projects-grid">
            <div class="project-card">
                <h3>Project 1</h3>
                <p>Description of project 1.</p>
            </div>
            <div class="project-card">
                <h3>Project 2</h3>
                <p>Description of project 2.</p>
            </div>
            <div class="project-card">
                <h3>Project 3</h3>
                <p>Description of project 3.</p>
            </div>
            <div class="project-card">
                <h3>Project 4</h3>
                <p>Description of project 3.</p>
            </div>
            <div class="project-card">
                <h3>Project 5</h3>
                <p>Description of project 3.</p>
            </div>
            <div class="project-card">
                <h3>Project 6</h3>
                <p>Description of project 3.</p>
            </div>
    </section>

    <section id="achievements" class="achievements-section">
        <h2>Achievements</h2>
        <ul>
            <li>smth smth</li>
            <li>smth</li>
            <li>smth</li>
        </ul>
    </section>

    <section id="contact" class="contact-section">
        <h2>Contact Me</h2>
        <p>Feel free to reach out via email: abidulhaqahnaf@gmail.com</p>
    </section>

    <footer class="footer">
        <p>© 2024 Ahnaf. All rights reserved.</p>
    </footer>
</body>

</html>
